<div class="login" layout="column">
  <div layout="row" layout-align="center center">
     <img src="images/logo4.png" alt="" class="logo">
  </div>
  <div layout="column" ng-cloak>
    <md-content layout-padding >
      <div class="parrafo">
        <p>Introduce el código de cliente de su empresa. Contacte al responsable de su flota, si no lo conoce.</p>
      </div>  

      <form name="projectForm" layout="column" >
      	<md-input-container class="md-block" >         
          <label style="color:gray">Número de Cliente</label>
        	<input type="password" required name="clientName" ng-model="cliente.numero">
        		<div ng-messages="projectForm.clientName.$error">
              <div ng-message="required">Campo Requerido.</div>
            </div>
        </md-input-container>
        <div class="error" layout="row" layout-align="center start">
          <span ng-show="error">Error al Introducir tu clave. </span>
          <div ng-show="tiempo" layout="row" layout-align="center start">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>  
        </div>
        
        
        <div layout="row" layout-align="center">
          <md-button class="md-raised md-primary" style="color: white" ng-click="obtener()" ng-disabled="!projectForm.$valid">Entrar</md-button>
      	</div>
    	</form>
    </md-content>
  </div>

</div>
